<div class="ngview-wrapper">
    <div class="ngview-body" style="padding-top:25px;background:#f2f2f2">
     <div class="container-fluid">
         <div class="row">
          <div class="col-md-4 ">
              
              <img src="~/Img/student-laptop.png" class="img-responsive img-rounded center-block" alt="Responsive image"  style="max-height:120px">
              <h3 class="md-display-1 text-center">About</h3>
              <p>We've provided a video below giving a quick tour of our app. Our app is designed
              for teachers to connect students with community mentors to work on a specialized project.
              Our app makes recruiting, scheduling and remote meetings possible through a quick and easy to use interface.
              </p>

          </div>
          <div class="col-md-4 ">
              
              
              <img src="~/Img/usc-logo.png"  class="img-responsive img-rounded center-block" alt="Responsive image"  style="max-height:120px">
              <h3 class="md-display-1 text-center">Credits</h3>
              <dl>
                  <dt >Ryan Labrador</dt>
                  <dt>Janice Neighbor - <a href="https://www.linkedin.com/in/aidan-neighbor-773b9811a">LinkedIn</a></dt>
               
                  <dt>Mike Rickabaugh</dt>
                  <dt> David Thomas -  <a href="https://www.linkedin.com/in/david-thomas-3738a773">LinkedIn</a>   </dt>
                  
                        
              
              </dl>
             
          </div>
          <div class="col-md-4">

              <img src="~/Img/GitHub-Mark-120px-plus.png" class="img-responsive img-rounded center-block" alt="Responsive image"  style="max-height:120px">
              <h3 class="md-display-1  text-center">Github</h3>
              <a href="https://github.com/SCCapstone/imentor">Vist the Repo!</a>
          </div>
      </div>
         </div>
    </div>
</div>

<body>

    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/eCkjTaqIJpc"></iframe>
    </div>
    
</body>
