<div class="ngview-wrapper">
    <div class="ngview-body" style="padding-top:25px;background:#f2f2f2">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/eCkjTaqIJpc"></iframe>
        </div>
    </div>
</div>

