<div class="ngview-wrapper">
    <div class="ngview-body" style="padding-top:25px;background:#f2f2f2">
        About Page
        <iframe id="player" type="text/html" width="640" height="390"
                src="http://www.youtube.com/watch?v=eCkjTaqIJpc"
                frameborder="0"></iframe>
    </div>

</div>

