
<div class="ngview-wrapper">
    <div class="ngview-body" style="padding-top:25px;">
        <!-- For testing purposes -->
        <div ng-repeat="l in userListings">
            {{l.Title}}
        </div>
       
       
        <div class="calendar" ng-model="eventSources" calendar="calendar" config="uiConfig.calendar" ui-calendar="uiConfig.calendar" ng-if="eventSources.length > 0"></div>


    </div>
</div>
      

            
