<div class="ngview-wrapper">
    <div class="ngview-body" style="padding-top:25px;">
        <p>{{message}}</p>

    </div>
    <div ng-controller="calendarCtrl">

        <script src="https://apis.google.com/js/client.js"></script>
        <script src="https://apis.google.com/js/client.js?onload=checkAuth"></script>
        <body>
            <div id="authorize-div" style="display: none">
                <span>Authorize access to Google Calendar API</span>
                <!--Button for the user to click to initiate auth sequence -->
                <button ng-click="handleAuthClick()">
                    Authorize
                </button>
            </div>
            <pre id="output"></pre>
        </body>
    </div>

</div>
