
<div class="ngview-wrapper">
    <div class="ngview-body" style="padding-top:25px;">
     
        <!-- For testing purposes -->
        <div ng-repeat="l in userListings">
            {{l.Title}} <button ng-click=""></button>
      
        </div>
        <!-------------------------->
      

            <div ui-calendar="uiConfig.calendar" ng-model='eventSources'></div>
        </div>
</div>
