<div class="ngview-wrapper">
    <div class="ngview-body" style="padding-top:25px;background:#f2f2f2">
        <div class="container">
            

                <div class="panel-group" id="accordion">
                    <div class="col-md-4">

                        <div class="faqHeader">Getting Started</div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" target="_self">How do I sign in?</a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    Signin is easy, just use a pre-existing google account!
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTen" target="_self">How do I change my account priviledges?</a>
                                </h4>
                            </div>
                            <div id="collapseTen" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Accounts start as Read Only. If you're a teacher, you must contact the app administrator. Students and mentors can be assigned by either the teacher or administrator.
                                    If you fall into one of the two prior categories contact the owner of the project page you want to work on via email.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven" target="_self">How can I find a project?</a>
                                </h4>
                            </div>
                            <div id="collapseEleven" class="panel-collapse collapse">
                                <div class="panel-body">
                                    You can search for a project by keyword, age group or subject area. If you're a student with a student account, you will be assigned to your project by your teacher.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="faqHeader">Listings</div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" target="_self">How do I create a listing?</a>
                                </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Teachers can login and click the create a listing button. Here you can fill out all the necessary fields:
                                    <ul>
                                        <li>Title</li>
                                        <li>Description</li>
                                        <li>Subject Area and Age Group</li>
                                        <li>Date</li>
                                        <li>Time</li>
                                        <li>How many times throughout the week</li>
                                    </ul>
                                    To add a participant, you will submit the listing and then add the student and/or mentors. You can either manually add by clicking the edit icon or in the case of a mentor,
                                    click applicants and either accept or reject the mentor. Note you can also embed links, images and youtube videos if you would like.

                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" target="_self">How do I edit a listing?</a>
                                </h4>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse">
                                <div class="panel-body">
                                    The steps involved in this process are really simple. All you need to do is:
                                    <ul>
                                        <li>Find your listing</li>
                                        <li>Decide what section you would like to edit </li>
                                        <li>Click the edit box on the section you want to change, edit as needed</li>
                                        <li>Make sure you save your changes!</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" target="_self">How do I apply for a listing?</a>
                                </h4>
                            </div>
                            <div id="collapseFive" class="panel-collapse collapse">
                                <div class="panel-body">
                                    After you've been granted a mentor account, find the listing you would like to work on. Click the apply button and wait to be added by the teacher.
                                    <br />
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" target="_self">What can students see?</a>
                                </h4>
                            </div>
                            <div id="collapseSix" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Students have a restricted tile view. Tiles are gray if the listing isn't active that day, yellow if they're going to occur on that day and green if there is a
                                    hangout activated for them to join. Students should only be able to navigate to their projects that have an active hangout.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEight" target="_self">How do I see all my active projects?</a>
                                </h4>
                            </div>
                            <div id="collapseEight" class="panel-collapse collapse">
                                <div class="panel-body">
                                    It depends on your account type
                                    <ul>
                                        <li>Teachers: We've provided a full calendar view. By clicking on the bar of that project it will take you to the detail page</li>
                                        <li>Mentors: You should see a row of tiles at the top of your homepage when you login. By clicking on these tiles it takes you to the project page</li>
                                        <li>Students: As discussed, this is just a page of tiles.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseNine" target="_self">How do I start/join a hangout?</a>
                                </h4>
                            </div>
                            <div id="collapseNine" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ul>
                                        <li>
                                            Teachers:
                                            <ul>
                                                <li>On the project listing page, click start hangout.</li>
                                                <li> In the pop up click start hangout.</li>
                                                <li> This will redirect you to Google Hangouts. Copy the link.</li>
                                                <li> Navigate back to the popup in iMentor, paste the link and click save.</li>
                                                <li>
                                                    The Join Hangout and Close Hangout buttons should appear. Make sure you close the hangout when the session is over. The ensures your students cannot
                                                    access the hangout from the iMentor site
                                                </li>
                                                <li><strong>Note:</strong> If you forget to close the hangout it should close after an hour of the meeting time.</li>

                                            </ul>
                                        </li>
                                        <li>
                                            Mentors:
                                            <ul>
                                                <li>Navigate to your current project page</li>
                                                <li>The Join Hangout button should be enabled and redirect you to the hangout when you click it. Make sure you also join the hangout</li>

                                            </ul>
                                        <li>
                                            Students: Click the green tile and then the join hangout button when you get to your project page.
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        </div>
                        <div class="col-md-4">
                            <div class="faqHeader">User Management</div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" target="_self">How do I grant more access/get more access?</a>
                                    </h4>
                                </div>
                                <div id="collapseFour" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        If you're a teacher or admin, find the appropriate user and change their account level appropriately. Mentors must contact the teacher in charge of
                                        the project they are interested in working on to go through the process of being a verified mentor. After approval process you should be able to work on that project. Please note
                                        different school districts will have different approval processes so you might have to go through the process more than once depending on the district.
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" target="_self">How do I delete a user/listing?</a>
                                    </h4>
                                </div>
                                <div id="collapseSeven" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        Admins are able to delete anything from the management page. Select either user or the listing you wish to delete and click delete. Teachers are able to remove users and the
                                        listings that <strong>they have created.</strong>
                                    </div>
                                </div>
                            </div>
                        </div>
            </div>

  
    </div>
</div>
    </div>


