
<md-content layout-padding style="background:#f2f2f2">
    <div layout="row" layout-sm="column" layout-align="space-around" ng-show="listings.length == 0">
        <md-progress-circular md-diameter="150" class="md-hue-2" md-mode="indeterminate"></md-progress-circular>
    </div>
</md-content>

<div class="ngview-wrapper">
    <div class="ngview-body" style="width:1000px;margin-left:0;margin-right:0;padding-left:0;padding-right:0;background:#f2f2f2">
        <div class="container-fluid" style="" ng-show="listings.length > 0">

            <div class="row content" ng-show="user.RoleId == 1 && user.RoleId == 2" style="background:#f2f2f2">
                <div class="im-form-label thick" style="font-size:16px;">Upcoming Events</div>
            </div>
            
            <!-- Upcoming Events -->
            <div class="row content" ng-show="user.RoleId < 3">
                <div class="col-sm-12" style="padding-bottom:10px;">
                    
                    <md-grid-list md-cols="1" md-cols-sm="10" md-cols-md="10" md-cols-gt-md="10"
                                    md-row-height-gt-md="1:1" md-row-height="4:3"
                                    md-gutter="8px" md-gutter-gt-sm="4px">

                        <md-grid-tile style="cursor:pointer;background:#a7ffeb;"
                                      ng-repeat="tile in tiles" 
                                      md-rowspan="{{tile.span.row}}" 
                                      md-colspan="{{tile.span.col}}" 
                                      md-colspan-sm="1" 
                                      ng-click="goToListing(tile.id)">
                            
                            <div class="thick"style="text-align:center;">
                                {{tile.title}}
                                <md-content style="background:black;"><md-divider></md-divider></md-content>
                                <div>{{tile.startDate}}</div>
                                <div>{{tile.startTime}}</div>

                            </div>
                        </md-grid-tile>
                    </md-grid-list>
                </div>
            </div>

            <div class="row content">
                <div class="col-sm-12" style="padding-bottom:10px;">
                    <md-content class="pull-right" style="background:#f2f2f2">
                        <md-button class="md-raised" style="background:green;color:white;" ng-show="user.RoleId == 3 || user.RoleId == 4" ng-click="createNewListing()">
                            Create new listing
                        </md-button>
                    </md-content>
                </div>
            </div>

            <div class="row content">
                <div class="col-sm-4" style="width:300px;">
                    <!--Filters-->
                    <md-input-container class="md-block" style="color:black;">
                        <label>Search</label>
                        <input class="thick" style="width:95%;font-size:16px;height:34px;" ng-model="searchText">
                    </md-input-container>

                    <div class="row" style="padding-left:30px;" ng-show="user.RoleId == 3 || user.RoleId == 4">
                        <a class="navbar-brand" href="" ng-click="toggleShowOpen()" style="color:black;font-size:14px;"><i class="glyphicon glyphicon-eye-open"></i> {{openLength}} Open </a>
                        <a class="navbar-brand" href="" ng-click="toggleShowOpen()" style="color:gray;font-size:14px;"><i class="glyphicon glyphicon-eye-close"></i> {{closedLength}} Closed  </a>
                    </div>

                    <div class="row" style="padding-left:30px;" ng-show="user.RoleId < 3">
                        <a class="navbar-brand" style="color:black;font-size:14px;"><i class="glyphicon glyphicon-eye-open"></i> {{openLength}} Open </a>
                    </div>

                    <md-content style="padding-bottom:5px;padding-top:5px;background:#f2f2f2"><md-divider></md-divider></md-content>
                                                
                    <div>
                        <md-content style="background:#f2f2f2">
                            <md-list>
                                <md-list-item style="width:100%;">
                                    <div class="thick">Subjects </div>
                                </md-list-item>
                                <md-list-item ng-repeat="subject in subjects" style="width:100%;">
                                    <md-checkbox style="margin-left:25px;" ng-model="subject.selected" ng-click="includeArea(subject.text)" aria-label="{{subject.value}}"></md-checkbox>
                                    <div style=""> {{ subject.text }} </div>
                                </md-list-item>
                            </md-list>
                        </md-content>
                    </div>

                    <md-content style="padding-bottom:5px;padding-top:5px;background:#f2f2f2"><md-divider></md-divider></md-content>

                    <div>
                        <md-content style="background:#f2f2f2">
                            <md-list>
                                <md-list-item style="width:100%;">
                                    <div class="thick">Age Group </div>
                                </md-list-item>
                                <md-list-item ng-repeat="ageGroup in ageGroups" style="width:100%;">
                                    <md-checkbox style="margin-left:25px;" ng-model="ageGroup.selected" ng-click="includeArea(ageGroup.text)" aria-label="{{ageGroup.value}}"></md-checkbox>
                                    <div style=""> Grades {{ ageGroup.text }} </div>
                                </md-list-item>
                            </md-list>
                        </md-content>
                    </div>
                </div>

                <div class="col-sm-8" style="width:700px;">
                    <!--Listings-->
                    <div class="panel panel-default">
                        <div class="panel-heading" style="background:white">

                            @*<div class="" ng-show="user.RoleId >= 3">
                                <a class="navbar-brand" style="color:black;font-size:14px;"> Open Listings </a>
                            </div>*@
                            
                            <div class="collapse navbar-collapse">
                                <div style="float:left;">
                                    <ul class="nav navbar-nav">
                                        <li><a style="color:gray;" href="" ng-click="sort('Id')"><i class="glyphicon glyphicon-sort"></i> Creation Date </a></li>
                                        <li><a style="color:gray;" href="" ng-click="sort('StartDate')"><i class="glyphicon glyphicon-sort"></i> Start </a></li>
                                        <li><a style="color:gray;" href="" ng-click="sort('OwnerUserName')"><i class="glyphicon glyphicon-sort"></i> Teacher </a></li>
                                        <li><a style="color:gray;" href="" ng-click="sort('Title')"><i class="glyphicon glyphicon-sort"></i> Title </a></li>
                                        <li><a style="color:gray;" href="" ng-click="sort('Area')"><i class="glyphicon glyphicon-sort"></i> Subject </a></li>
                                        <li><a style="color:gray;" href="" ng-click="sort('AgeGroup')"><i class="glyphicon glyphicon-sort"></i> Age Group </a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div dir-paginate="listing in listings | orderBy: sortListings | filter: areaFilter | filter: searchText | itemsPerPage: itemsPerPage" current-page="currentPage" listing-card listing="listing" ng-click="selectListing(listing)"></div>

                    <div class="center" style="width:60%;border:0px;margin-left:auto;margin-right:auto">
                        <dir-pagination-controls boundary-links="false" on-page-change="pageChangeHandler(newPageNumber)" template-url="Templates/dirPagination.tpl.html"></dir-pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
