<div class="ngview-wrapper">
    <div class="ngview-body" style="padding-top:10px;">
        <div class="container-fluid">

            <div class="row content">
                <div class="col-sm-12" style="padding-bottom:10px;">
                    <md-content class="pull-right">
                        <md-button class="md-raised" style="background:green;color:white;" ng-show="user.RoleId >= 3" ng-click="createNewListing()">
                            Create new listing
                        </md-button>
                    </md-content>

                    
                </div>
            </div>

            <div class="row content">
                <div class="col-sm-4">
                    <!--Filters-->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="panel-title" style="font-size:20px">Filters</div>
                        </div>

                        <div class="panel-body">
                            <md-input-container class="md-block" style="width:100%;">
                                <label>Search</label>
                                <input class="thick" style="width:95%;font-size:16px;height:34px;" ng-model="searchText">
                            </md-input-container>

                            <div class="thick" style="font-size:16px;">Quick Filters</div>
                            <md-content style="padding-bottom:5px;"><md-divider></md-divider></md-content>
                            
                            <div>
                                <md-content>
                                    <md-list>
                                        <md-list-item style="width:100%;">
                                            <div class="thick">Subjects </div>
                                            @*<md-checkbox ng-model="selectAll" ng-click="includeArea('All')"></md-checkbox>*@
                                        </md-list-item>
                                        <md-list-item ng-repeat="subject in subjects" style="width:100%;">
                                            <md-checkbox style="margin-left:25px;" ng-model="subject.selected" ng-click="includeArea(subject.text)"></md-checkbox>
                                            <div style=""> {{ subject.text }} </div>
                                        </md-list-item>
                                    </md-list>
                                </md-content>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-8">
                    <!--Listings-->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="panel-title" style="font-size:30px">Listings</div>
                        </div>


                        <div class="panel-body">
                            <div ng-animate="'animate'" ng-repeat="listing in listings | filter:areaFilter | filter: searchText" listing-card listing="listing" ng-show="listing.Open" ng-click="selectListing(listing)">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
