<div class="ngview-wrapper">
    <div class="ngview-body" style="padding-top:25px;">
        <div class="container-fluid">

            <div class="row content">
                <div class="col-sm-12" style="padding-bottom:10px;">
                    <md-content class="pull-right">
                        <md-button class="md-raised" style="background:green;color:white;" ng-show="user.RoleId >= 3" ng-click="createNewListing()">
                            Create new listing
                        </md-button>
                    </md-content>

                    <div class="thick" style="font-size:24px;color:gray;">Search bar will go here_______________________________</div>
                </div>
            </div>

            <div class="row content">
                <div class="col-sm-3">
                    <!--Filters-->
                    <div class="panel panel-default">
                        <div class="panel-body">

                            <div>
                                Subjects<br />
                                <input type="checkbox" ng-click="includeArea('Math')" /> Math<br />
                                <input type="checkbox" ng-click="includeArea('Science')" /> Science<br />
                                <input type="checkbox" ng-click="includeArea('History')" /> History<br />
                                <input type="checkbox" ng-click="includeArea('Reading')" /> Reading<br />
                                <input type="checkbox" ng-click="includeArea('Computer Science')" /> Computer Science<br />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-9">
                    <!--Listings-->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="panel-title" style="font-size:30px">Listings</div>
                        </div>


                        <div class="panel-body">
                            <div ng-animate="'animate'" ng-repeat="listing in listings | filter:areaFilter" listing-card listing="listing" ng-show="listing.Open" ng-click="selectListing(listing)">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
