<div class="ngview-wrapper">
    <div class="ngview-body" style="padding-top:25px;">
        <div class="container-fluid">
            <div class="row content">
                <div class="col-sm-3">
                    <!--Filters-->
                    <div class="panel panel-default">
                        <div class="panel-body">

                            <div>
                                Subjects<br />
                                <input type="checkbox" ng-click="includeArea('Math')" /> Math<br />
                                <input type="checkbox" ng-click="includeArea('Science')" /> Science<br />
                                <input type="checkbox" ng-click="includeArea('History')" /> History<br />
                                <input type="checkbox" ng-click="includeArea('Reading')" /> Reading<br />
                                <input type="checkbox" ng-click="includeArea('Computer Science')" /> Computer Science<br />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-9">
                    <!--Listings-->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="panel-title" style="font-size:30px">Listings</div>
                            <div class="row" style="padding-right: 20px;">
                                <div style="font-size:12px;">
                                    <div im-btn icon="glyphicon glyphicon-plus" ng-show="user.RoleId >= 3" ng-click="goToCreateListing()" text="Add Listing" on-click="addListing" class="pull-right"></div>
                                </div>
                            </div>
                        </div>


                        <div class="panel-body">
                            <div ng-animate="'animate'" ng-repeat="s in listings | filter:areaFilter" listing-card listing="s" ng-click="selectListing(s)">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
