
<md-content layout-padding>
    <div layout="row" layout-sm="column" layout-align="space-around" ng-show="listings.length == 0">
        <md-progress-circular md-diameter="150" class="md-hue-2" md-mode="indeterminate"></md-progress-circular>
    </div>
</md-content>

<div class="ngview-wrapper">
    <div class="ngview-body" style="padding-top:10px;">
        <div class="container-fluid" ng-show="listings.length > 0">
            <div class="row content">
                <div class="col-sm-12" style="padding-bottom:10px;">
                    <md-content class="pull-right">
                        <md-button class="md-raised" style="background:green;color:white;" ng-show="user.RoleId >= 3" ng-click="createNewListing()">
                            Create new listing
                        </md-button>
                    </md-content>
                </div>
            </div>

            <div class="row content">
                <div class="col-sm-4">
                    <!--Filters-->
                    <div class="panel panel-default" >
                        <div class="panel-heading" style="background:#f5f5f5">
                            <div class="panel-title" style="font-size:20px">Filters</div>
                        </div>

                        <div class="panel-body">
                            <md-input-container class="md-block" style="width:100%;">
                                <label>Search</label>
                                <input class="thick" style="width:95%;font-size:16px;height:34px;" ng-model="searchText">
                            </md-input-container>

                            <div class="thick" style="font-size:16px;">Quick Filters</div>
                            <md-content style="padding-bottom:5px;"><md-divider></md-divider></md-content>
                            
                            <div>
                                <md-content>
                                    <md-list>
                                        <md-list-item style="width:100%;">
                                            <div class="thick">Subjects </div>
                                            @*<md-checkbox ng-model="selectAll" ng-click="includeArea('All')"></md-checkbox>*@
                                        </md-list-item>
                                        <md-list-item ng-repeat="subject in subjects" style="width:100%;">
                                            <md-checkbox style="margin-left:25px;" ng-model="subject.selected" ng-click="includeArea(subject.text)" aria-label=""></md-checkbox>
                                            <div style=""> {{ subject.text }} </div>
                                        </md-list-item>
                                    </md-list>
                                </md-content>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-8">
                    <!--Listings-->
                    <div class="panel panel-default">
                        <div class="panel-heading" style="background:#f5f5f5">
                            <div class="navbar-header"  ng-show="user.RoleId >= 3">
                                <a class="navbar-brand" href="" ng-click="toggleShowOpen()" style="color:black;font-size:14px;"><i class="glyphicon glyphicon-eye-open"></i> {{openLength}} Open </a>
                                <a class="navbar-brand" href="" ng-click="toggleShowOpen()" style="color:gray;font-size:14px;"><i class="glyphicon glyphicon-eye-close"></i> {{closedLength}} Closed  </a>
                            </div>

                            <div class="navbar-header" ng-show="user.RoleId < 3">
                                <a class="navbar-brand" style="color:black;font-size:14px;"><i class="glyphicon glyphicon-eye-open"></i> {{openLength}} Open </a>
                            </div>
                            

                            <div class="collapse navbar-collapse">
                                <div style="float:right;">
                                    <ul class="nav navbar-nav">
                                        <li><a style="color:gray;" href="" ng-click="sort('StartDate')"><i class="glyphicon glyphicon-sort"></i> Start </a></li>
                                        <li><a style="color:gray;" href="" ng-click="sort('OwnerUserName')"><i class="glyphicon glyphicon-sort"></i> Teacher </a></li>
                                        <li><a style="color:gray;" href="" ng-click="sort('Title')"><i class="glyphicon glyphicon-sort"></i> Title </a></li>
                                        <li><a style="color:gray;" href="" ng-click="sort('Area')"><i class="glyphicon glyphicon-sort"></i> Subject </a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="panel-body">
                            <div ng-repeat="listing in listings | orderBy: sortListings | filter:areaFilter | filter: searchText" 
                                 listing-card listing="listing" ng-click="selectListing(listing)">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
