<div class="ngview-wrapper">
    <div class="ngview-body" style="padding-top:10px;">
        <div class="container-fluid">

            <div class="row content">
                <div class="col-sm-12" style="padding-bottom:10px;">
                    <md-content class="pull-right">
                        <md-button class="md-raised" style="background:green;color:white;" ng-show="user.RoleId >= 3" ng-click="createNewListing()">
                            Create new listing
                        </md-button>
                    </md-content>

                    
                </div>
            </div>

            <div class="row content">
                <div class="col-sm-3">
                    <!--Filters-->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="panel-title" style="font-size:20px">Filters</div>
                        </div>

                        <div class="panel-body">
                            <form class="navbar-form" role="search">
                                <md-input-container class="md-block" style="width:100%;">
                                    <label>Search</label>
                                    <input class="thick" style="width:80%;font-size:16px;height:34px;" ng-model="searchText">

                                    <div class="input-group-btn">
                                        <button class="btn btn-default" type="submit" style="height:34px;" ng-click="search()"><i class="glyphicon glyphicon-search"></i></button>
                                    </div>
                                </md-input-container>
                            </form>
                            <div>
                                Subjects<br />
                                <input type="checkbox" ng-click="includeArea('Math')" /> Math<br />
                                <input type="checkbox" ng-click="includeArea('Science')" /> Science<br />
                                <input type="checkbox" ng-click="includeArea('History')" /> History<br />
                                <input type="checkbox" ng-click="includeArea('Reading')" /> Reading<br />
                                <input type="checkbox" ng-click="includeArea('Computer Science')" /> Computer Science<br />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-9">
                    <!--Listings-->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="panel-title" style="font-size:30px">Listings</div>
                        </div>


                        <div class="panel-body">
                            <div ng-animate="'animate'" ng-repeat="listing in listings | filter:areaFilter" listing-card listing="listing" ng-show="listing.Open" ng-click="selectListing(listing)">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
