
   <script src="~/Modules/HomeClient.js"></script>
<script src="~/Scripts/angular.min.js"></script>



    <div class="jumbotron">
        <p>iMentor</p>
    </div>


    <div ng-app="HomeApp" class="container">
        <div controller="HomeController">
            <p>{{userEmail}}</p>
               
            <p>1 + 2 = {{ 1 + 2 }}</p>
     
        </div>
    </div>
