
<div class="jumbotron">
    <p>iMentor</p>
</div>

<div ng-controller="homeCtrl" class="ngview-wrapper">
    <div class="ngview-body" style="padding-top:25px">
        <p>Database Access: {{userEmail}}</p>
        <p>Message: {{message}}</p>
        <p>Function test: 1 + 4 = {{ 1 + 4 }}</p>
    </div>
</div>
