@section scripts{
    <script src="~/Modules/HomeClient.js"></script>
}

<div class="jumbotron">
    <p>iMentor</p>
</div>


<div ng-app="HomeApp" class="container">
    <div ng-controller="HomeController">
        <p>{{userEmail}}</p>
    </div>
</div>
