<div class="ngview-wrapper">
    <div class="ngview-body" style="padding-top:25px;">
        <p>{{message}}</p>

    </div>
    <div ng-controller="LoginCtrl">
    
        <head>
            <meta name="google-signin-client_id" content="YOUR_CLIENT_ID.apps.googleusercontent.com">
        </head>
        <body>
            <div id="my-signin2"></div>
            <script>
    function onSuccess(googleUser) {
      console.log('Logged in as: ' + googleUser.getBasicProfile().getName());
    }
    function onFailure(error) {
      console.log(error);
    }
    function renderButton() {
      gapi.signin2.render('my-signin2', {
        'scope': 'https://www.googleapis.com/auth/plus.login',
        'width': 200,
        'height': 50,
        'longtitle': true,
        'theme': 'dark',
        'onsuccess': onSuccess,
        'onfailure': onFailure
      });
    }
            </script>

            <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
       
  
        
        <script src="https://apis.google.com/js/client.js"></script>
    </div>

</div>
