<script src="https://apis.google.com/js/platform.js" async defer></script>
<div class="ngview-wrapper" ng-class="cursorClass">
    <div class="ngview-header" style="padding: 0px 20px 8px 20px;">
        <div class="form-group" style="clear:both">
            <div im-btn ng-show="user.RoleId > 2" icon="glyphicon glyphicon-edit" style="width:150px;font-size:12px;" text="Toggle Edit Mode" on-click="toggleEditMode"></div>
        </div>
    </div>


    <div class="ngview-body" style="padding-top:20px;">
        <div class="text-left" style="display:inline-block;">
            <div class="row content">


                <div class="col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="header-title">
                                <div style="font-size:20px;">
                                    <a href="#" ng-show="editMode" editable-text="listing.Title">{{ listing.Title || "empty" }}</a>
                                </div>
                                <div ng-show="!editMode" style="font-size:20px;">{{listing.Title}}</div>
                            </div>
                            <hr />
                            <div class="">
                                <div style="font-size:14px;">
                                    <a href="#" ng-show="editMode" editable-textarea="listing.Description" e-rows="7" e-cols="40">{{ listing.Description || "empty" }}</a>
                                </div>
                                <div ng-show="!editMode" style="font-size:14px;">{{listing.Description}}</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <form name="listingForm" novalidate>

                        <!-- Teacher Hangout Button -->
                        <div class="col-sm-3" ng-show="user.RoleId == 3">
                            <div class="im-form-label" style="width:125px;font-size:16px">Start Hangout:</div>
                        </div>
                        <div class="col-sm-5" ng-show="user.RoleId == 3" style="margin-bottom:6px;">
                            <script src="https://apis.google.com/js/platform.js" async defer></script>
                            <div class="g-hangout" data-render="createhangout"
                                 data-initial_apps="[{ app_id : '1086641013362',  'app_type' : 'ROOM_APP' }]">
                            </div>
                        </div>
                        <!------------------------->
                        <!-- Student/Mentor Hangout Button -->
                        <div class="col-sm-3" ng-show="user.RoleId <= 2">
                            <div class="im-form-label" style="width:125px;font-size:16px">Join Hangout:</div>
                        </div>
                        <div class="col-sm-5" ng-show="user.RoleId <= 2" style="margin-bottom:6px;">
                            <button class="btn btn-default" ng-disabled="listing.HangoutUrl == null" ng-show="user.RoleId <= 2" style="width:150px;font-size:13px;background-color:#53a93f;color:white" ng-click="">
                                <i class="glyphicon glyphicon-facetime-video" style="font-size:18px;"></i>&nbsp&nbsp&nbspJoin Hangout
                            </button>
                        </div>
                        <!------------------------->

                        <div class="form-group" style="clear:both">
                            <div class="im-form-label" style="width:125px;">Start Date</div>
                            <input type="text" ng-model="listing.StartDate" required name="startDate" class="form-control im-form-text" style="width:250px;" />
                            @*<div style="float:left;width:30px;">
                    <i ng-show="listForm.title.$invalid && !listForm.title.$pristine" icon="glyphicon glyphicon-ban-circle" class="im-validation-icon" popover="Required. Max Length:100." popover-placement="top" popover-trigger="mouseenter" popover-popup-delay="100" xxtooltip-append-to-body="true"></i>
                </div>*@
                        </div>

                        <div class="form-group" style="clear:both">
                            <div class="im-form-label" style="width:125px;">End Date</div>
                            <input type="text" ng-model="listing.EndDate" required name="endDate" class="form-control im-form-text" style="width:250px;" />
                            @*<div style="float:left;width:30px;">
                    <i ng-show="listForm.title.$invalid && !listForm.title.$pristine" icon="glyphicon glyphicon-ban-circle" class="im-validation-icon" popover="Required. Max Length:100." popover-placement="top" popover-trigger="mouseenter" popover-popup-delay="100" xxtooltip-append-to-body="true"></i>
                </div>*@
                        </div>

                        <div class="form-group" style="clear:both">
                            <div class="im-form-label" style="width:125px;">Area</div>

                            @*<div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        {{selectedArea}}
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li ng-repeat="a in areas"><a ng-model="listing.Area" required name="area" ng-click="dropboxareaselected(a)">{{a}}</a></li>
                    </ul>
                </div>*@

                            <input type="text" ng-model="listing.Area" name="area" class="form-control im-form-text" style="width:250px;" />
                            @*<div style="float:left;width:30px;">
                    <i ng-show="listForm.title.$invalid && !listForm.title.$pristine" icon="glyphicon glyphicon-ban-circle" class="im-validation-icon" popover="Required. Max Length:100." popover-placement="top" popover-trigger="mouseenter" popover-popup-delay="100" xxtooltip-append-to-body="true"></i>
                </div>*@
                        </div>

                        <div class="form-group" style="clear:both">
                            <div class="im-form-label" style="width:125px;">Frequency</div>
                            <input type="text" ng-model="listing.Frequency" name="frequency" class="form-control im-form-text" style="width:250px;" />
                            @*<div style="float:left;width:30px;">
                    <i ng-show="listForm.title.$invalid && !listForm.title.$pristine" icon="glyphicon glyphicon-ban-circle" class="im-validation-icon" popover="Required. Max Length:100." popover-placement="top" popover-trigger="mouseenter" popover-popup-delay="100" xxtooltip-append-to-body="true"></i>
                </div>*@
                        </div>

                        <div class="form-group" style="clear:both">
                            <div class="im-form-label" style="width:125px;">Mentor</div>
                            <input type="text" ng-model="listing.Mentor" name="mentor" class="form-control im-form-text" style="width:250px;" />
                            @*<div style="float:left;width:30px;">
                    <i ng-show="listForm.title.$invalid && !listForm.title.$pristine" icon="glyphicon glyphicon-ban-circle" class="im-validation-icon" popover="Required. Max Length:100." popover-placement="top" popover-trigger="mouseenter" popover-popup-delay="100" xxtooltip-append-to-body="true"></i>
                </div>*@
                        </div>

                        <div class="form-group" style="clear:both">
                            <div class="im-form-label" style="width:125px;">Teacher</div>
                            <input type="text" ng-model="listing.Teacher" name="teacher" class="form-control im-form-text" style="width:250px;" />
                            @*<div style="float:left;width:30px;">
                <i ng-show="listForm.title.$invalid && !listForm.title.$pristine" icon="glyphicon glyphicon-ban-circle" class="im-validation-icon" popover="Required. Max Length:100." popover-placement="top" popover-trigger="mouseenter" popover-popup-delay="100" xxtooltip-append-to-body="true"></i>
            </div>*@
                        </div>

                        <div class="form-group" style="clear:both">
                            <div class="im-form-label" style="width:125px;">Teacher Email</div>
                            <input type="text" ng-model="listing.Email" required ng-pattern="emailPattern" name="email" class="form-control im-form-text" style="width:250px;" />
                            @*<div style="float:left;width:30px;">
                    <i ng-show="listForm.title.$invalid && !listForm.title.$pristine" icon="glyphicon glyphicon-ban-circle" class="im-validation-icon" popover="Required. Max Length:100." popover-placement="top" popover-trigger="mouseenter" popover-popup-delay="100" xxtooltip-append-to-body="true"></i>
                </div>*@
                        </div>

                        <div class="form-group" style="clear:both">
                            <div class="im-form-label" style="width:125px;">Open</div>

                            @*<div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        {{selectedBool}}
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li ng-repeat="b in bools"><a ng-model="listing.Open" required name="open" ng-click="dropboxboolselected(b)">{{b}}</a></li>
                        </ul>
                </div>*@

                            <input type="text" ng-model="listing.Open" required name="open" class="form-control im-form-text" style="width:250px;" />
                            @*<div style="float:left;width:30px;">
                    <i ng-show="listForm.title.$invalid && !listForm.title.$pristine" icon="glyphicon glyphicon-ban-circle" class="im-validation-icon" popover="Required. Max Length:100." popover-placement="top" popover-trigger="mouseenter" popover-popup-delay="100" xxtooltip-append-to-body="true"></i>
                </div>*@
                        </div>


                        <div class="text-right">
                            <div class="btn btn-sm btn-custom" ng-click="save()" style="margin-right:0px;width:75px;">Save</div>
                            <div class="btn btn-sm btn-custom" ng-click="cancel()" style="width:75px;">Cancel</div>
                        </div>

                    </form>
                </div>
            </div>

            
        </div>
    </div>
</div>
