<md-content layout-padding style="background:#f2f2f2">
    <div layout="row" layout-sm="column" layout-align="space-around" ng-show="user.Id == null">
        <md-progress-circular md-diameter="150" class="md-hue-2" md-mode="indeterminate"></md-progress-circular>
    </div>
</md-content>


<div class="ngview-wrapper" ng-class="cursorClass" ng-show="user.Id != null">
    <div class="panel panel-default" style="width:950px;">
        <div class="panel-heading" style="background:white;color:#999999;height:45px;">
            <div class="header-title pull-left">User Details</div>
        </div>

        <div class="panel-body">
            <div class="text-left col-sm-8" style="display:inline-block;">
                <form name="userForm" novalidate>

                    <div class="row" style="margin-left:28px;">
                        <div class="im-form-label" style="width:25px;font-size:18px;">Role</div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <div class="radio" style="margin-left:70px;">
                                <label><input type="radio" ng-model="user.Role" value="Student" name="role" ng-change="roleChanged()">Student</label>
                                <label style="margin-left:34px;"><input type="radio" ng-model="user.Role" value="Mentor" name="role" ng-change="roleChanged()">Mentor</label>
                                <label style="margin-left:34px;"><input type="radio" ng-model="user.Role" value="Read Only" name="role" ng-change="roleChanged()">Read Only</label>
                            </div>

                            <div class="radio" style="margin-left:70px;">
                                <label><input type="radio" ng-model="user.Role" value="Teacher" name="role" ng-change="roleChanged()">Teacher</label>
                                <label style="margin-left:30px;"><input type="radio" ng-model="user.Role" value="Administrator" name="role" ng-change="roleChanged()">Administrator</label>
                            </div>
                        </div>
                    </div>

                    <md-content style="padding-bottom:20px;"><md-divider></md-divider></md-content>


                    @*<div class="row" style="margin-left:28px;" ng-show="!user.Role.localeCompare('Student')">
                        <div class="im-form-label" style="font-size:18px;">Student Limitations</div>
                    </div>
                    <div class="row" ng-show="!user.Role.localeCompare('Student')">
                        <md-list>
                            <md-list-item style="width:100%;">
                                <md-checkbox style="margin-left:70px;" ng-model="showOnlyAssignedListings" aria-label="{{userId}}"></md-checkbox>
                                <div style=""> Only show assigned listings </div>
                            </md-list-item>
                        </md-list>
                    </div>

                    <md-content style="padding-top:20px;padding-bottom:20px;" ng-show="!user.Role.localeCompare('Student')"><md-divider></md-divider></md-content>*@

                    <div class="row" style="">
                        <div class="im-form-label" style="width:125px;font-size:18px;">Username</div>
                    </div>
                    <div class="row">
                        <input type="text" ng-model="user.UserName" required name="userName" class="form-control im-form-text" style="width:250px;margin-left:70px;" />
                    </div>

                    <md-content style="padding-top:20px;padding-bottom:20px;"><md-divider></md-divider></md-content>

                    <div class="row" style="">
                        <div class="im-form-label" style="width:125px;font-size:18px;margin-right:150px;">First Name</div>
                        <div class="im-form-label" style="width:125px;font-size:18px;">Last Name</div>
                    </div>
                    <div class="row">
                        <input type="text" ng-model="user.FirstName" name="firstName" class="form-control im-form-text" style="width:200px;margin-left:70px;" />
                        <input type="text" ng-model="user.LastName" name="lastName" class="form-control im-form-text" style="width:200px;margin-left:70px;" />
                    </div>
                </form>
            </div>

            <!-- Icons -->
            <div class="col-sm-4">
                <div class="col-sm-3" style="">
                    <md-radio-group ng-model="user.IconIndex">
                        <md-radio-button ng-repeat="it in avatarData1"
                                         ng-value="it.value"
                                         aria-label="{{it.title}}">
                            <md-icon md-svg-icon="{{it.id}}" style="width:30px;height:30px;"></md-icon>
                        </md-radio-button>
                    </md-radio-group>
                </div>
                <div class="col-sm-3">
                    <md-radio-group ng-model="user.IconIndex">
                        <md-radio-button ng-repeat="it in avatarData2"
                                         ng-value="it.value"
                                         aria-label="{{it.title}}">
                            <md-icon md-svg-icon="{{it.id}}" style="width:30px;height:30px;"></md-icon>
                        </md-radio-button>
                    </md-radio-group>
                </div>
                <div class="col-sm-3">
                    <md-radio-group ng-model="user.IconIndex">
                        <md-radio-button ng-repeat="it in avatarData3"
                                         ng-value="it.value"
                                         aria-label="{{it.title}}">
                            <md-icon md-svg-icon="{{it.id}}" style="width:30px;height:30px;"></md-icon>
                        </md-radio-button>
                    </md-radio-group>
                </div>
                <div class="col-sm-3">
                    <md-radio-group ng-model="user.IconIndex">
                        <md-radio-button ng-repeat="it in avatarData4"
                                         ng-value="it.value"
                                         aria-label="{{it.title}}">
                            <md-icon md-svg-icon="{{it.id}}" style="width:30px;height:30px;"></md-icon>
                        </md-radio-button>
                    </md-radio-group>
                </div>
            </div>
            <!---------->

            
            <div class="row col-sm-12 text-right">
                <md-button class="md-raised" style="background:#f2f2f2;color:black;" ng-click="cancel()">
                    Cancel
                </md-button>
                <md-button class="md-raised" style="background:#f2f2f2;color:black;" ng-click="save()">
                    Save
                </md-button>
            </div>
        </div>
    </div>
</div>
