<script src="~/Modules/ManageClient.js"></script>

<h2>Account</h2>

<div ng-app="ManageApp" class="container">
    <div ng-controller="ManageController">
        <p>{{message}}</p>
    </div>
</div>

