<md-content layout-padding>
    <div layout="row" layout-sm="column" layout-align="space-around" ng-show="listings.length == 0">
        <md-progress-circular md-diameter="150" class="md-hue-2" md-mode="indeterminate"></md-progress-circular>
    </div>
</md-content>

<div class="ngview-wrapper" ng-show="listings.length > 0">
    <div class="ngview-body" style="padding-top:25px;">
        <div class="ngview-header-left">
            <div class="header-title">Listing Management</div>
        </div>
    </div>

    <div class="ngview-body" style="padding-top:10px;">
        <div class="row" style="padding-right: 20px;">
            <div style="font-size:12px;">
                <div im-btn icon="glyphicon glyphicon-refresh" text="" on-click="refreshListings" class="pull-right"></div>
                <div im-btn icon="glyphicon glyphicon-plus" text="Add Listing" on-click="addListing" class="pull-right"></div>
            </div>
        </div>
        <div ui-grid="gridOptions" class="im-grid"></div>
    </div>
</div>
