
<div class="ngview-wrapper">
    <div class="ngview-body" style="padding-top:25px;">
        Listing: {{currentListing.Title}}

        <input class="btn btn-default btn-sm" ng-click="ok()" style="width: 75px;" value="Ok" />
    </div>
</div>
