
<md-content layout-padding style="background:#f2f2f2">
    <div layout="row" layout-sm="column" layout-align="space-around" ng-show="users.length == 0">
        <md-progress-circular md-diameter="150" class="md-hue-2" md-mode="indeterminate"></md-progress-circular>
    </div>
</md-content>

<div class="ngview-wrapper">
    <div class="ngview-body" style="padding-top:25px;background:#f2f2f2">
        <div class="ngview-header-left">
            <div class="header-title">User Management</div>
        </div>
    </div>

    <div class="ngview-body" style="padding-top:10px;background:#f2f2f2">
        <div ui-grid="gridOptions"  class="im-grid-sm"></div>
    </div>
</div>
