@{
    ViewBag.Title = "Login Failure";
}
<!--This could be used for incorrect login information?-->
<hgroup>
    <h2>@ViewBag.Title.</h2>
    <h3 class="text-danger">Unsuccessful login with service.</h3>
</hgroup>
