<script src="~/Modules/MentorsClient.js"></script>

<div class="jumbotron">
    <p>Mentors</p>
</div>

<div ng-app="MentorsApp" class="container">
    <div ng-controller="MentorsController">
        <p>{{mentorId}}</p>
    </div>
</div>