@{
    ViewBag.Title = "Mentors";
    ViewBag.Message = "This is a test";
}

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div>
    <div class="row">
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail">
                <img src="http://commonstake.com/default_profile.jpg" alt="Default">
            </a>
        </div>
        ...
    </div>
</div>