@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
</div>

<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>
</div>