
<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3 class="modal-title">Select Participants</h3>
    </div>
    <div class="modal-body">
        <md-content>
            <section>
                <md-list>
                    <md-subheader class="md-primary">Teachers</md-subheader>
                    <md-list-item ng-repeat="teacher in teachers">
                        <p ng-show="!teacher.owner"> {{ teacher.UserName }} </p>
                        <p ng-show="teacher.owner"> {{ teacher.UserName }} [Owner]</p>
                        <md-checkbox ng-show="!teacher.owner" class="md-secondary" ng-model="teacher.selected" aria-label="{{teacher.Id}}"></md-checkbox>
                        <md-checkbox ng-show="teacher.owner" class="md-secondary" ng-model="teacher.selected" aria-label="{{teacher.Id}}" disabled></md-checkbox>
                    </md-list-item>
                </md-list>
            </section>
            <section>
                <md-list>
                    <md-subheader class="md-primary">Students</md-subheader>
                    <md-list-item ng-repeat="student in students">
                        <p> {{ student.UserName }} </p>
                        <md-checkbox class="md-secondary" ng-model="student.selected" aria-label="{{student.Id}}"></md-checkbox>
                    </md-list-item>
                </md-list>
            </section>
            <section>
                <md-list>
                    <md-subheader class="md-primary">Mentors</md-subheader>
                    <md-list-item ng-repeat="mentor in mentors">
                        <p> {{ mentor.UserName }} </p>
                        <md-checkbox class="md-secondary" ng-model="mentor.selected" aria-label="{{mentor.Id}}"></md-checkbox>
                    </md-list-item>
                </md-list>
            </section>
        </md-content>
    </div>
    <div class="modal-footer">
        <!--<input class="btn btn-default btn-sm" ng-click="save()" style="width: 75px;" value="Save" />-->
        <div style="float:left;width:200px;">
            <div ng-show="!isValid()" style="color:red;width:100%;">{{saveError}}</div>
        </div>
        <div style="float:right;">
            <md-button class="md-primary md-raised" ng-click="save($event)">
                Save
            </md-button>
            <md-button class="md-secondary md-raised" ng-click="cancel()">
                Cancel
            </md-button>
        </div>
    </div>
</div>