
<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3 class="modal-title">Select Participants</h3>
    </div>
    <div class="modal-body">
        <md-content>
            <section>
                <md-list>
                    <md-subheader class="md-primary">Students</md-subheader>
                    <md-list-item ng-repeat="student in students">
                        <p> {{ student.UserName }} </p>
                        <md-checkbox class="md-secondary" ng-model="student.selected"></md-checkbox>
                    </md-list-item>
                </md-list>
            </section>
            <section>
                <md-list>
                    <md-subheader class="md-primary">Mentors</md-subheader>
                    <md-list-item ng-repeat="mentor in mentors">
                        <p> {{ mentor.UserName }} </p>
                        <md-checkbox class="md-secondary" ng-model="mentor.selected"></md-checkbox>
                    </md-list-item>
                </md-list>
            </section>
        </md-content>
</div>
    <div class="modal-footer">
        <input class="btn btn-default btn-sm" ng-click="save()" style="width: 75px;" value="Save" />
        <input class="btn btn-default btn-sm" ng-click="cancel()" style="width: 75px;" value="Cancel" />
    </div>
</div>