<script src="https://apis.google.com/js/platform.js" async defer></script>

<md-dialog aria-label="hangout" ng-cloak>
    <form name="hangoutForm" style="padding:10px;" novalidate>
        <div class="form-group" >
            <md-dialog-content>
                <p>
                    Step 1: Create a Hangout.
                </p>
                <div style="padding-bottom:10px;padding-left:50px;">
                    <div class="g-hangout" data-render="createhangout"
                         data-initial_apps="[{ app_id : '1086641013362', start_data : 'dQw4w9WgXcQ', 'app_type' : 'ROOM_APP' }]">
                    </div>
                </div>

                <p>
                    Step 2: Insert the Hangout URL.
                </p>
                <md-input-container class="md-block" style="width:400px;">
                    <label>Hangout URL</label>
                    <input type="text" class="thick" style="font-size:14px;" ng-model="listing.HangoutUrl"  name="hangoutUrl" required>
                    <div ng-messages="hangoutForm.hangoutUrl.$error">
                        <div ng-message="valid">Invalid Hangout URL</div>
                        <div ng-message="required">Hangout URL required</div>
                    </div>
                </md-input-container>

                <p>
                    Step 3: Save the URL for others to join.
                </p>
            </md-dialog-content>

            <md-dialog-actions layout="row">
                <md-button class="md-raised" ng-click="cancel()" style="margin-right:20px;">
                    Cancel
                </md-button>
                <md-button class="md-raised" ng-click="save()" style="margin-right:20px;">
                    Save
                </md-button>
            </md-dialog-actions>
        </div>
    </form>
</md-dialog>