<div class="dateTime">
    <div class="row">
        <div class="col-md-12" style="text-align:center;">
            <div style="font-size:18px;">
                <div class="im-form-label thick" style="width:30%;font-size:16px">Start</div>
                <div class="im-form-label thick" style="width:40%;font-size:16px">End</div>

                <div im-btn ng-show="user.RoleId > 2 && !timeEditMode  && !isNew" icon="glyphicon glyphicon-edit" style="width:30px;font-size:40px;float:right;color:black;" text="" on-click="edit"></div>
                <div im-btn ng-show="user.RoleId > 2 && timeEditMode  && !isNew" icon="glyphicon glyphicon-ok" style="width:30px;font-size:40px;float:right;color:green;" text="" on-click="saveDateTime"></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-11" style="text-align:center;">
            <div style="font-size:18px;">
                <md-content>
                    <md-datepicker ng-show="timeEditMode" ng-model="startDate" md-placeholder="Start date"></md-datepicker>
                    <md-datepicker ng-show="timeEditMode" ng-model="endDate" md-placeholder="End date"></md-datepicker>

                    <md-datepicker ng-show="!timeEditMode" ng-model="startDate" md-placeholder="Start date" disabled></md-datepicker>
                    <md-datepicker ng-show="!timeEditMode" ng-model="endDate" md-placeholder="End date" disabled></md-datepicker>
                </md-content>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-11">
            <div layout-gt-sm="row" style="font-size:12px;width:100%;">

                <div layout-gt-sm="row" ng-show="timeEditMode" style="margin-left:40px;">
                    <label class="control-label"><i class="glyphicon glyphicon-time" style="padding-top:10px;"></i></label>
                    <input type="text" class="form-control" size="8" ng-model="startTime" name="time" bs-timepicker style="width:160px;">

                    <label class="control-label"><i class="glyphicon glyphicon-time" style="padding-top:10px;margin-left:20px;"></i></label>
                    <input type="text" class="form-control" size="8" ng-model="endTime" name="time" bs-timepicker style="width:160px;">
                </div>

                <div layout-gt-sm="row" ng-show="!timeEditMode" style="margin-left:40px;">
                    <label class="control-label"><i class="glyphicon glyphicon-time" style="padding-top:10px;"></i></label>
                    <input type="text" class="form-control" size="8" ng-model="startTime" name="time" bs-timepicker style="width:160px;" disabled>

                    <label class="control-label"><i class="glyphicon glyphicon-time" style="padding-top:10px;margin-left:20px;"></i></label>
                    <input type="text" class="form-control" size="8" ng-model="endTime" name="time" bs-timepicker style="width:160px;" disabled>
                </div>
            </div>
        </div>
    </div>

    <div layout="row" layout-wrap >
        <div class="col-md-12">
            <div flex="100" flex-gt-sm="100" layout="column">
                <div ng-show="!timeEditMode">
                    <fieldset class="standard">
                        <div layout="row" layout-wrap flex>
                            <div flex="12" ng-repeat="day in daysOfTheWeek">
                                <md-chips ng-show="day.selected">
                                    <md-chip style="background:#1de9b6;color:#004d40;">{{day.abb}}</md-chip>
                                </md-chips>
                                <md-chips ng-show="!day.selected">
                                    <md-chip style="background:gray;color:lightgray;">{{day.abb}}</md-chip>
                                </md-chips>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div style="margin-top:10px;margin-left:50px;" ng-show="timeEditMode">
                    <fieldset class="standard">
                        <div layout="row" layout-wrap flex>
                            <div flex="50" ng-repeat="day in daysOfTheWeek">
                                <md-checkbox class="md-secondary" ng-model="day.selected" ng-change="updateFrequency(day)">
                                    {{ day.text }}
                                </md-checkbox>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
</div>