<script src="https://apis.google.com/js/platform.js" async defer></script>
<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{{title}}</h4>
    </div>
    <div class="modal-body">
        <p>{{description}}</p>
        <div class="g-hangout" data-render="createhangout"></div>
    </div>
    <div class="modal-footer">
        <input class="btn btn-default btn-sm" ng-click="ok()" style="width: 75px;" value="Ok" />
       
    </div>
</div>