<html>
<head>
    <title>Helpdesk Sample</title>
    <style>
        form {
            margin-left: 33%;
            margin-right: 33%;
            margin-top: 25%;
            text-align: center;
            font-size: 14px;
        }
    </style>
</head>
<body>
    <form action="https://plus.google.com/hangouts/_" method="GET">
        <input type="hidden" name="gid" value="imentor-1110" />
        <select name="gd">
            <option>Hangouts</option>
            <option>Google+ API</option>
            <option>+1 Button</option>
        </select>
        <input type="submit" />
    </form>
    <script type="text/javascript" src="https://apis.google.com/js/client.js?onload=onClientReady"></script>
    <script src="//hangoutsapi.talkgadget.google.com/talkgadget/apps/gadgets/js/rpc.js"></script>
    <script src="//hangoutsapi.talkgadget.google.com/hangouts/api/hangout.js?v=1.4"></script>
</body>
</html>

