<!-- AngularJs Directive Template for imListingTile -->

<div class="listing-card">
    <md-content class="md-padding" layout-xs="column" layout="row">
        <div flex-xs flex-gt-xs="100" layout="column">
            <md-card>
                <md-card-title flex="initial">
                    <md-card-title-text>
                        <span class="md-headline">{{title}}</span>
                        <span class="md-subhead" style="font-size:12px;padding-left:20px;">Teacher: {{owner}}</span>
                        <!--<span class="md-subhead" style="font-size:10px;">{{startDate}} - {{endDate}}</span>-->
                    </md-card-title-text>
                    <md-card-title-media>
                        <div class="md-media-sm card-media" style="margin-right:15px;">
                            <img ng-src="{{imagePath}}" class="md-card-image" alt="{{area}}">
                        </div>
                    </md-card-title-media>
                </md-card-title>

            </md-card>
        </div>
    </md-content>
</div>