<!-- AngularJs Directive Template for imListingTile -->

<div class="listing-card" style="font-size:12px;">
    <md-content class="md-padding" layout-xs="column" layout="row">
        <div flex-xs flex-gt-xs="100" layout="column">
            <md-card>
                <md-card-title flex="initial">
                    <md-card-title-text>
                        <span class="md-headline">{{title}}</span>
                        <span class="md-subhead">{{area}}</span>
                    </md-card-title-text>
                    <md-card-title-media>
                        <div class="md-media-md card-media"><img ng-src="{{imagePath}}" class="md-card-image" alt="{{area}}"></div>
                    </md-card-title-media>
                </md-card-title>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button>Action 1</md-button>
                    <md-button>Action 2</md-button>
                </md-card-actions>
            </md-card>
        </div>
    </md-content>
</div>