
<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3 class="modal-title">Applicants</h3>
    </div>
    <div class="modal-body">
        <md-content>
            <section>
                <md-list>
                    <md-list-item>
                        <p class="thick" style="font-size:16px;"> User Name </p>
                        <p class="thick" style="font-size:16px;"> Email </p>
                    </md-list-item>
                    <md-list-item ng-repeat="applicant in applicants">
                        <p> {{ applicant.UserName }} </p>
                        <p> {{ applicant.Email }} </p>
                        <!--<md-checkbox class="md-secondary" ng-model="applicant.selected" disabled></md-checkbox>-->
                    </md-list-item>
                </md-list>
            </section>
        </md-content>
    </div>
    <div class="modal-footer">
        <div style="float:right;">
            <md-button class="md-primary md-raised" ng-click="save($event)">
                Save
            </md-button>
            <md-button class="md-secondary md-raised" ng-click="cancel()">
                Cancel
            </md-button>
        </div>
    </div>
</div>