html, body {
	height: 100%;
	margin: 0px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#main-wrapper {
	height: 100%;
	min-width: 720px;
}

#main-header {
}

#main-content {
	height: 100%;
	width: 1280px;
    margin: 0 auto;
}


.listing-card {
	font-size: 11px;
}

	.listing-card:first-child {
		margin-top: 8px;
	}

	.listing-card:hover {
		background-color: #EDF0FF;
	}

	.listing-card:before {
		margin: 4px 4px 4px 0;
	}

	.listing-card:after {
		margin: 4px 0 4px 4px;
	}

.listing-card-content {
	padding: 5px 5px 3px 5px;
}

.listing-card-iconleft {
	float: left;
	margin-right: 6px;
}

.listing-card-title {
	float: left;
	font-size: 12px;
	width: 100px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	text-align: left;
}

	.listing-card-title.disabled {
		color: #777777;
	}

.listing-card-tooltip {
	font-size: 12px;
	min-width: 100px;
	max-width: 250px;
}

.listing-card-tooltip-title {
	white-space: nowrap;
	overflow: hidden;
	word-wrap: normal;
	background: #FAFAFA;
	border-bottom: 1px solid gainsboro;
	height: 30px;
	padding: 6px 8px;
}

.listing-card-tooltip-body {
	padding: 0 2px 8px;
}

.listing-card-tooltip-row {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	margin: 8px 0 0 6px;
}

.floating-panel {
	box-shadow: 0 2px 3px rgba(0,0,0,0.5);
}
body {
    font-family: Tahoma;
}

header {
    text-align: center;
}

#calendar {
    width: 100%;    
}

#calendar a {
    color: #8e352e;
    text-decoration: none;
}

#calendar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

#calendar li {
    display: block;
    float: left;
    width:14.342%;
    padding: 5px;
    box-sizing:border-box;
    border: 1px solid #ccc;
    margin-right: -1px;
    margin-bottom: -1px;
}

#calendar ul.weekdays {
    height: 40px;
    background: #8e352e;
}

#calendar ul.weekdays li {
    text-align: center;
    text-transform: uppercase;
    line-height: 20px;
    border: none !important;
    padding: 10px 6px;
    color: #fff;
    font-size: 13px;
}

#calendar .days li {
    height: 180px;
}

#calendar .days li:hover {
    background: #d3d3d3;
}

#calendar .date {
    text-align: center;
    margin-bottom: 5px;
    padding: 4px;
    background: #333;
    color: #fff;
    width: 20px;
    border-radius: 50%;
    float: right;
}

#calendar .event {
    clear: both;
    display: block;
    font-size: 13px;
    border-radius: 4px;
    padding: 5px;
    margin-top: 40px;
    margin-bottom: 5px;
    line-height: 14px;
    background: #e4f2f2;
    border: 1px solid #b5dbdc;
    color: #009aaf;
    text-decoration: none;
}

#calendar .event-desc {
    color: #666;
    margin: 3px 0 7px 0;
    text-decoration: none;  
}

#calendar .other-month {
    background: #f5f5f5;
    color: #666;
}

/* ============================
                Mobile Responsiveness
   ============================*/


@media(max-width: 768px) {

    #calendar .weekdays, #calendar .other-month {
        display: none;
    }

    #calendar li {
        height: auto !important;
        border: 1px solid #ededed;
        width: 100%;
        padding: 10px;
        margin-bottom: -1px;
    }

    #calendar .date {
        float: none;
    }
}