html, body {
	height: 100%;
	margin: 0px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 800px;
}

#main-wrapper {
	height: 100%;
	min-width: 720px;
}

.thick {
    font-weight: bold;
}

.underline{
    text-decoration: underline;
}

.verticalLine {
    border-left: 2px solid lightgray;
}

.center {
    margin: auto;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 10px;
}

#main-header {
	max-width: 1280px;
    min-width: 720px;
    width: auto;
    margin: 0 auto;
}

.sticky {
  position: sticky;
  top: 10px; /* When the element reaches top: 10px, it becomes fixed. */
  z-index: 100;
}

#main-content {
	height: 100%;
	max-width: 1280px;
    min-width: 800px;
    width: auto;
    margin: 0 auto;
}

.navbar {
  position: relative;
  min-height: 50px;
  min-width: 720px;
  margin-bottom: 20px;
  border: 1px solid transparent;
}

.navbar-default {
  background-color: #f8f8f8;
  border-color: #e7e7e7;
}

.im-link {
	cursor: pointer;
}

.im-link-hover:hover {
    cursor: pointer;
    text-decoration: underline;
}

.im-link-help a {
	cursor: pointer;
	display: inline-block;
	font-weight: 500;
	font-size: 13px;
	color: #237eb2;
	margin-left: 5px;
	margin-right: 2px;
	margin-top: 6px;
}

.im-link-help i {
	margin-right: 5px;
}

.im-link-help a:hover {
	text-decoration: underline;
}

.dateTime {

}


/*----------------------------------------
/* ng-material cards
/*----------------------------------------*/

.listing-card {
	font-size: 11px;
}

	.listing-card:first-child {
		margin-top: 8px;
	}

	.listing-card:hover {
		background-color: #EDF0FF;
	}

	.listing-card:before {
		margin: 4px 4px 4px 0;
	}

	.listing-card:after {
		margin: 4px 0 4px 4px;
	}

.listing-card-content {
	padding: 5px 5px 3px 5px;
}

.listing-card-iconleft {
	float: left;
	margin-right: 6px;
}

.listing-card-title {
	float: left;
	font-size: 12px;
	width: 100px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	text-align: left;
}

	.listing-card-title.disabled {
		color: #777777;
	}

.listing-card-tooltip {
	font-size: 12px;
	min-width: 100px;
	max-width: 250px;
}

.listing-card-tooltip-title {
	white-space: nowrap;
	overflow: hidden;
	word-wrap: normal;
	background: #FAFAFA;
	border-bottom: 1px solid gainsboro;
	height: 30px;
	padding: 6px 8px;
}

.listing-card-tooltip-body {
	padding: 0 2px 8px;
}

.listing-card-tooltip-row {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	margin: 8px 0 0 6px;
}

.floating-panel {
	box-shadow: 0 2px 3px rgba(0,0,0,0.5);
}


.add-iconright
{
    position: absolute; 
    right: 50px;
    color: black;
}

.setColor { color: #f00; }
.setColor:before { color: #f00; }
.setColor:hover { color: #00f; }



h1.panel-title {
    font-size: xx-large
}
h2.panel-title {
    font-size: x-large
}
h3.panel-title {
    font-size: large
}
h4.panel-title {
    font-size: medium
}
h5.panel-title {
    font-size: small
}
h6.panel-title {
    font-size: x-small
} 


.addParticipantsModal .modal-dialog {
	width: 600px;
	border-radius: 6px;
	border: 1px solid #CCC;
	color: #000;
	margin-top: 75px;
}

.addParticipantsModal .modal-body {
	border-radius: 6px;
    max-height:600px;
    overflow-y:auto;
}

.addParticipantsModal .dtl-group {
	padding-left: 5px;
	padding-right: 5px;
}

.viewParticipantsModal .modal-dialog {
	width: 600px;
	border-radius: 6px;
	border: 1px solid #CCC;
	color: #000;
	margin-top: 75px;
}

.viewParticipantsModal .modal-body {
	border-radius: 6px;
    max-height:400px;
    overflow-y:auto;
}

.viewParticipantsModal .dtl-group {
	padding-left: 5px;
	padding-right: 5px;
}

/*----------------------------------------
/* ng-view pages
/*----------------------------------------*/

.ngview-wrapper {
	padding: 20px 20px 20px 20px;
}

.ngview-header {
	font-weight: 300;
	height: 30px;
	margin: 4px 0 12px 0;
	text-align: left;
	/*border: 1px solid red;*/
}

.ngview-header-left {
	display: inline-block;
	float: left;
}

.ngview-header-right {
	float: right !important;
}

.header-title {
	display: inline-block;
	font-size: 20px;
	font-weight: 300;
	margin: 0 0 0 15px;
	color: #3b3b3b;
}

.ngview-body {
	padding: 5px 15px 20px 15px;
	background-color: #fff;
	border-radius: 8px;
	margin-bottom: 20px;
}

	.ngview-body .im-btn {
		font-size: 13px;
		margin-left: 4px;
	}

	.ngview-body .im-toggle-btn {
		font-size: 12px;
	}

	.ngview-body .im-toggle-btn-checked {
		font-size: 12px;
	}

.icon-right {
	display: inline-block;
	float: right;
	text-align: center;
	color: #777;
}

.pagehead-btngroup {
	padding: 0;
	border: 0;
}

	.pagehead-btngroup .pagehead-btn {
		margin-top: 2px;
		padding: 0px 12px;
		font-size: 15px;
		color: #777;
		background-color: transparent;
		border: 0;
		-webkit-box-shadow: inset 0 0px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, 0);
		box-shadow: inset 0 0px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, 0);
	}

		.pagehead-btngroup .pagehead-btn:hover {
			background: #e7e7e7;
		}

.pagehead-btn-group li a {
	padding: 0px 5px;
}



/* ---------------------------------------------------------------------- */
/*	Grids
/* ---------------------------------------------------------------------- */
.im-grid {
	border: 0;
	border-radius: 6px;
	height: 500px;
    width: 100%;
}

.im-grid-sm {
	border: 0;
	border-radius: 6px;
	height: 500px;
    width: 66.5%;
}

im-grid-studentParticipant {
    border: 0;
	border-radius: 6px;
	height: 100px;
    width: 200px;
}

im-grid-mentorParticipant {
    border: 0;
	border-radius: 6px;
	height: 100px;
    width: 200px;
}

.im-group-grid {
	height: 375px;
    overflow-x: hidden;
    background-color: #f5f5f5;
}

.im-group-grid {
	height: 375px;
    overflow-x: hidden;
    background-color: #f5f5f5;
}

.im-group-grid-footer {
  bottom: 0;
  width: 100%;
  height: 20px;
  background-color: #f5f5f5;    
}

.ngHeaderContainer {
	background: #fff;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border-bottom: 1px solid #d4d4d4;
	border-top: 1px solid #d4d4d4;
}

.ngCell {
	line-height: 25px;
	vertical-align: middle;
}

.ngRow {
	display: table-row;
	height: auto !important;
	white-space: normal;
	width: 100% !important;
	/*position: static;*/
}

.ngVerticalBarVisible {
	display: none;
	height: 100% !important;
}

.ngVerticalBar {
	display: none;
	height: 100% !important;
}

.gridHeaderLeft {
	font-size: 13px;
	font-weight: 700;
	background: #FFF;
	text-align: left;
	border-left: 1px solid #d4d4d4;
	margin-left: -1px;
}

.gridHeaderCenter {
	font-size: 13px;
	font-weight: 700;
	background: #FFF;
	text-align: center;
	border-left: 1px solid #d4d4d4;
	margin-left: -1px;
}

.gridCellLeft {
	text-align: left;
	font-size: 12px;
	font-weight: normal;
	overflow: hidden;
	white-space: nowrap;
	/*height: auto;
    overflow: visible;
    white-space: normal;
       width: auto;*/
}

.gridCellCenter {
	text-align: center;
	font-size: 12px;
	font-weight: normal;
	overflow: hidden;
	white-space: nowrap;
}

.gridCellCenterTooltip {
	text-align: center;
	font-size: 12px;
	font-weight: normal;
	overflow: visible;
}

.cell-icon {
	color: #777;
	text-align: center;
	font-size: 15px;
	padding-top: 5px;
	overflow: hidden;
}

.tooltip-label {
	text-align: right;
	padding-right: 4px;
}

.tooltip-value {
	text-align: left;
}

/*----------------------------------------*/
/* Data Grids
/*----------------------------------------*/

.im-datagrid {
	/*border: 1px solid silver;*/
	border-radius: 6px;
	/*margin: 25px 15px 15px 15px;*/
	background: white;
}

/*CSS magic to remove the scrollbars from*/
.im-datagrid-no-outline .ngHeaderContainer {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
}

.im-datagrid-no-scrollbars .ngViewport {
    height: auto !important;
}

.im-datagrid-no-scrollbars .ngCanvas, .ngViewport, .ngRow, .ngFooterPanel, .ngTopPanel   {
   width: 100% !important;
}

.im-datagrid-no-scrollbars .ngRow {
   border-bottom:none !important;
}

/*----------------------------------------*/
/* Flat button
/*----------------------------------------*/

.im-flat-button {
	border: 1px solid transparent;
	border-radius: 4px;
	padding: 4px 2px 4px 6px;
	cursor: pointer;
}

	.im-flat-button:hover {
		border: 1px solid #ddd;
		color: #333;
	}

	.im-flat-button:active {
		box-shadow: inset 0 1px 2px rgba(0,0,0,0.4);
	}

.im-flat-button-dis {
	border: 1px solid transparent;
	border-radius: 4px;
	padding: 4px 2px 4px 6px;
	cursor: default;
	opacity: .5;
}

/*----------------------------------------*/
/* im-btn
/*----------------------------------------*/

.im-btn {
	margin-left: 4px;
}

.im-btn-text {
	display: inline-block;
	font-weight: 500;
	font-size: 13px;
	/*color: #237eb2;*/
	margin-left: 2px;
	margin-right: 2px;
	margin-top: -2px;
}

/*----------------------------------------*/
/* Form Editing
/*----------------------------------------*/

.im-form-sectiontitle {
    border-bottom: 1px solid #E2E2E2;
    margin: 10px 0 16px 0;
}

.im-form-label{
    float: left;
    margin: 5px 10px 0 0;
    text-align: right;
    font-size: 13px;
}

.im-form-value{
    float: left;
    font-size: 13px;
}

.im-form-text{
    float: left;
    margin-bottom: 6px;
}

.im-validation-icon{
    margin: 0 8px 0 6px;
}

/*----------------------------------------*/
/* Grid Listing
/*----------------------------------------*/
.gridListdemoDynamicTiles md-icon {
  width: 50%;
  height: 30%; }
.gridListdemoDynamicTiles md-icon svg {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%; }
.gridListdemoDynamicTiles .s64 {
  font-size: 64px; }
.gridListdemoDynamicTiles .s32 {
  font-size: 48px; }
.gridListdemoDynamicTiles md-icon.fa {
  display: block;
  padding-left: 0; }
.gridListdemoDynamicTiles md-icon.s32 span {
  padding-left: 8px; }
.gridListdemoDynamicTiles md-grid-list {
  margin: 8px; }
.gridListdemoDynamicTiles .gray {
  background: #f5f5f5; }
.gridListdemoDynamicTiles .green {
  background: #b9f6ca; }
.gridListdemoDynamicTiles .yellow {
  background: #ffff8d; }
.gridListdemoDynamicTiles .blue {
  background: #84ffff; }
.gridListdemoDynamicTiles .darkBlue {
  background: #80d8ff; }
.gridListdemoDynamicTiles .deepBlue {
  background: #448aff; }
.gridListdemoDynamicTiles .purple {
  background: #b388ff; }
.gridListdemoDynamicTiles .lightPurple {
  background: #8c9eff; }
.gridListdemoDynamicTiles .red {
  background: #ff8a80; }
.gridListdemoDynamicTiles .pink {
  background: #ff80ab; }
.gridListdemoDynamicTiles md-grid-tile {
  transition: all 300ms ease-out 50ms; }
.gridListdemoDynamicTiles md-grid-tile md-icon {
  padding-bottom: 32px; }
.gridListdemoDynamicTiles md-grid-tile md-grid-tile-footer {
  background: rgba(0, 0, 0, 0.68);
  height: 36px; }
.gridListdemoDynamicTiles md-grid-tile-footer figcaption {
  width: 100%; }
.gridListdemoDynamicTiles md-grid-tile-footer figcaption h3 {
  margin: 0;
  font-weight: 700;
  width: 100%;
  text-align: center; }

.animate-enter, 
.animate-leave
{ 
  -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  position: relative;
  display: block;
} 
 
.animate-enter.animate-enter-active, 
.animate-leave {
  opacity: 1;
  top: 0;
  height: 30px;
}
 
.animate-leave.animate-leave-active,
.animate-enter {
  opacity: 0;
  top: -50px;
  height: 0px;
}

                